.container {
  position: relative;
  width: 100vw;
  height: 600vh;
  background-color: black;
}
.page {
  background-image: linear-gradient(#87ceeb, #2a7936);
  position: fixed;
  bottom: 0;
  left: 0;
}
.background {
  position: absolute;
  z-index: 1;
  /* width: auto;
  height: 100vh; */
}
.car {
  z-index: 2;
  position: absolute;
  top: 90vh;
  /* display: none; */
}
#rear-wheel,
#front-wheel {
  transform-origin: center;
  transform-box: fill-box;
}

.text {
  opacity: 0;
  margin: 0;
  color: white;
}
.scroll {
  text-align: center;
}
article {
  position: fixed;
  padding: 20vh 20vw;
  font-size: 2rem;
}
