#subContainer {
    position: fixed;
    z-index: 101;
    bottom: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
@media screen and (orientation: portrait) {
    #subContainer {
        top: 2rem;
        bottom: auto;
    }
}
#subtitles {
    font-size: 5vh;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.5vh 2vh;
    text-align: center;
}
@media screen and (orientation: portrait) {
    #subtitles {
        font-size: 3vh;
    }
}
html {
    scroll-behavior: smooth;
}
body,
html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: Roboto, sans-serif;
    color: #151d29;
    background: linear-gradient(45deg, #eff4f9, #48b1bf);
    background-attachment: fixed;
}
#svg1 {
    top: 0;
    position: fixed;
    z-index: 100;
}
#svg1 text {
    text-rendering: geometricPrecision;
}
#svg1 #helloline {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 4;
    stroke-dashoffset: 0;
    stroke: #93cfd9;
    stroke-dasharray: 300;
    stroke-width: 1.2;
}
#svg1 #deskcoffee,
#svg1 #deskkeyboard,
#svg1 #desklaptop,
#svg1 #desklogos,
#svg1 #deskmonitor1,
#svg1 #deskmonitor2,
#svg1 #desknotes,
#svg1 #deskpen,
#svg1 #desktable,
#svg1 #desktablewindowshadow,
#svg1 #helloline,
#svg1 #wireframe1,
#svg1 #wireframe2,
#svg1 #wireframe3,
#svg1 #wireframe4 {
    transform-origin: left;
}
#svg1 #deskcoffee ellipse,
#svg1 #deskcoffee path,
#svg1 #deskcoffee polygon,
#svg1 #deskkeyboard ellipse,
#svg1 #deskkeyboard path,
#svg1 #deskkeyboard polygon,
#svg1 #desklaptop ellipse,
#svg1 #desklaptop path,
#svg1 #desklaptop polygon,
#svg1 #desklogos ellipse,
#svg1 #desklogos path,
#svg1 #desklogos polygon,
#svg1 #deskmonitor1 ellipse,
#svg1 #deskmonitor1 path,
#svg1 #deskmonitor1 polygon,
#svg1 #deskmonitor2 ellipse,
#svg1 #deskmonitor2 path,
#svg1 #deskmonitor2 polygon,
#svg1 #desknotes ellipse,
#svg1 #desknotes path,
#svg1 #desknotes polygon,
#svg1 #deskpen ellipse,
#svg1 #deskpen path,
#svg1 #deskpen polygon,
#svg1 #desktable ellipse,
#svg1 #desktable path,
#svg1 #desktable polygon,
#svg1 #desktablewindowshadow ellipse,
#svg1 #desktablewindowshadow path,
#svg1 #desktablewindowshadow polygon,
#svg1 #helloline ellipse,
#svg1 #helloline path,
#svg1 #helloline polygon,
#svg1 #wireframe1 ellipse,
#svg1 #wireframe1 path,
#svg1 #wireframe1 polygon,
#svg1 #wireframe2 ellipse,
#svg1 #wireframe2 path,
#svg1 #wireframe2 polygon,
#svg1 #wireframe3 ellipse,
#svg1 #wireframe3 path,
#svg1 #wireframe3 polygon,
#svg1 #wireframe4 ellipse,
#svg1 #wireframe4 path,
#svg1 #wireframe4 polygon {
    opacity: 0;
    stroke: #fff;
    fill-opacity: 0;
    stroke-width: 0.5;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dashoffset: 0;
}
#svg1 #desktopsource {
    transform-origin: left;
}
#svg1 #terminal2textclip {
    transform-origin: 5%;
}
#svg1 #contactsbutton,
#svg1 #githubbutton {
    cursor: pointer;
}
#svg1 #framemasked {
    -webkit-clip-path: inherit;
    clip-path: inherit;
}
#svg1 #chair1 path,
#svg1 #chair1 polygon {
    fill-opacity: 0;
    stroke: #dbdbdb;
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
    stroke-dashoffset: 0;
}
#svg1 #room {
    transform-origin: center;
}
#svg1 #hotballoon,
#svg1 #scrollhint,
#svg1 #sky {
    transform-origin: center;
    transform-box: fill-box;
}
#svg1 #laptopwindowshadow {
    mix-blend-mode: multiply;
}
#svg1 #screen,
#svg1 #screen_1_,
#svg1 #screen_2_,
#svg1 #screen_3_,
#svg1 #screen_5_,
#svg1 #screen_7_ {
    mix-blend-mode: screen;
}
#svg1 #dodge {
    mix-blend-mode: color-dodge;
}
#svg1 #chairshadow,
#svg1 #companyshadows,
#svg1 #table2shadow,
#svg1 #tableshadow {
    transform-origin: left;
    transform-box: fill-box;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*# sourceMappingURL=styles.css.map*/
