html,
body {
    width: 100%;
    height: 600vh;
    padding: 0;
    margin: 0;
    background-color: #257B42;
}

.pages {
    position: fixed;
}

.house img {
    position: fixed;
    min-width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: bottom left;
}

.house-image {
    z-index: -1;
    min-width: 1920px;
    /* height: 100%; */
}

.door-image {
    z-index: 1;
    /* open the door using scroll */
    transform-origin: 100% 83%;
    transform: rotateX(calc(var(--scrollpos) * 20deg));
}

@media screen and (min-width:1900px) {
    .pages {
        animation: scale-out 2s ease-out forwards;
    }
    .pages__first {
        transform-origin: 1920px 100vh !important;
        animation: scale-to-door 2s ease-in 2s forwards;
    }
}

@media screen and (min-width: 900px) and (max-width:1900px) {
    .pages {
        animation: scale-out 2s ease-out forwards;
    }
    .house {
        animation: transition-to-door 2s 2s forwards;
    }
    .pages__first {
        animation: scale-to-door 2s ease-in 4s forwards;
    }
}

@media screen and (max-width: 900px) {
    .pages {
        animation-name: scale-out, transition-to-door-mobile, scale-to-door-mobile;
        animation-duration: 2s, 2s, 2s;
        animation-delay: 0s, 3s, 5s;
        animation-timing-function: ease-out, linear, ease-in;
        animation-direction: forwards, forwards, forwards;
    }
}

@keyframes scale-to-door {
    from {
        transform-origin: 1040px 100vh;
        transform: scale(1);
    }
    to {
        transform-origin: 1040px 100vh;
        transform: scale(2, 3);
    }
}

@keyframes scale-out {
    from {
        transform: scale(2);
        /* transition: top 500ms ease; */
    }
    to {
        /* transform-origin: bottom left; */
        /* transform: scale(2); */
        transform: translateY(-100%);
    }
}

@keyframes transition-to-door {
    0% {
        transform-origin: bottom left;
        transform: translateY(100%);
    }
    100% {
        transform: translateX(-480px);
    }
}

@keyframes transition-to-door-mobile {
    from {
        transform-origin: bottom left;
        transform: translateX(0);
    }
    to {
        transform: translateX(-1000px);
    }
}

@keyframes scale-to-door-mobile {
    from {
        transform-origin: 0 100vh;
        transform: scaleY(1);
    }
    to {
        transform-origin: 0 100vh;
        transform: scaleY(3);
    }
}

.welcome {
    /* display: inline; */
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    /* transform: scale(2);
  transition: transform ease-in 2s 2s; */
}

.text {
    /* text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5,
    0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5; */
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5), 0 0 10px rgba(255, 255, 255, 0.5);
}