html {
    /* overflow-y: hidden; */
    /* overflow-y: hidden; */
}
body {
    height: 600vh;
    /* overflow-y: hidden; */
}
.pages {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-x: scroll;
    width: 100vw;
    height: 100vh;
}
.pages__first {
    /* // animation: firstpage 5s ease-in 1s forwards; */
    background-image: url("./svg/majhoolsoft.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;

    /* min-width: 100vw; */
    height: 100vh;
    width: calc(2.2 * 100vh);
    transform-origin: calc(1.35 * 100vh) bottom;
    transform: scale(var(--scrollpos));
}

@keyframes firstpage {
    0% {
        transform: scale(1);
    }
    100% {
        /* transform: translateY(-50%); */
        transform-origin: 60vw 90vh;
        transform: scale(var(--scrollpos));
        /* transform: perspective(50rem) scale3d(10, 2, 2) translateZ(100px); */
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    .pages__first {
        transform: translate(calc(var(--scrollpos) * -27vh));
        @if var(--opendoor) ==1 {
            transform: scale(calc(var(--scrollpos) / 2));
        }
    }
    /* html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    } */
}
