        .pages {
            height: 600vh;
            position: fixed;
        }
        
        .background>svg {
            width: 100%;
            height: 100vh;
        }
        
        #rear-wheel {
            transform-origin: 50% 50%;
            transform-box: fill-box;
            /* display: none; */
        }
        
        #front-wheel {
            transform-origin: 50% 50%;
            transform-box: fill-box;
        }
        /* #Component_14_1 {
    display: none
} */