.visible-scrollbar,
.invisible-scrollbar,
.mostly-customized-scrollbar {
  display: block;
  width: 10em;
  overflow: auto;
  height: 2em;
  padding: 1em;
  margin: 1em auto;
  /* outline: 2px dashed cornflowerblue; */
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
* (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #000; /* or add it to the track */
}

/* Add a thumb */
.mostly-customized-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background: #aaa;
}

body {
  background-color: black;
}

.container {
  position: relative;
  width: 100vw;
  height: 4320px;
  background-color: black;
  font-size: 2rem;
}

.page {
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color: #0a2946; */
  background-color: #000;
}

.page a {
  stroke: blue;
  stroke-width: 0.004rem;
  text-decoration: underline;
}

.page a:hover {
  stroke-width: 0.01rem;
}

.scroll-instruction {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  color: #f5f5f5;
  font-size: 1.2rem;
  text-align: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
  height: 100vh;
  /* opacity: 0 !important; */
}

.subtitle {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  padding: 0.3rem 1rem 0.5rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  z-index: 2;
}

.mouse {
  position: relative;
  width: 50px;
  height: 90px;
  border: 3px solid white;
  border-radius: 60px;

  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

.path {
  stroke-dasharray: 100;
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 0;
  }
}

.text-background {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  padding-right: 20px;
  border-radius: 10px;
  line-height: 4rem;
}

.text-animation {
  opacity: 0;
}

#root {
  font-family: "Times New Roman";
  overflow-x: hidden;
}

#sky {
  fill: black;
}

#rearWheel,
#frontWheel,
#smileFace {
  transform-origin: center;
  transform-box: fill-box;
}

#treeOne,
#treeTwo,
#motorcycle,
#microphone {
  stroke-width: 0.02rem;
}

#treeOne:hover,
#treeTwo:hover,
#motorcycle:hover,
#microphone:hover {
  stroke-width: 0.05rem;
}

#cycle1,
#cycle2,
#cycle2,
#cycle3,
#cycle4,
#cycle5,
#cycle6,
#cycle7,
#cycle8 {
  opacity: 0;
}

#trees,
#mountains,
#flag,
#house,
#car,
#garage-door {
  filter: brightness(0.1);
}

@media screen and (max-width: 768px) {
  .container {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 1.2rem;
    width: 80%;
  }
}
